<% layout('../layout') -%>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.5/css/froala_editor.pkgd.min.css')%>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.5/css/froala_style.min.css')%>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title"><%= user.role%></h4>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#"><%= user.role%></a>
                        </li>
                        <li>
                            <a href="#">Manage</a>
                        </li>
                        <li class="active">
                            all
                        </li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b>Send Annoucement for all students </b></h4>
                    <hr/>

                    <form action="/department/announce/all" enctype="multipart/form-data" method="post" data-parsley-validate novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="title">Title*</label>
                                    <input type="text" name="title" parsley-trigger="change" required placeholder="Enter title" class="form-control" id="title">
                                </div>

                                <div class="form-group">
                                    <label for="title">Description*</label>
                                    <input type="text" name="description" parsley-trigger="change" required placeholder="Enter description" class="form-control" id="description">
                                </div>

                                <div class="form-group m-b-0">
                                    <label class="control-label">Attach file</label>
                                    <input type="file" name="file" class="filestyle" data-placeholder="No file">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Kind Announcement
                                    </label>
                                    <select class="selectpicker show-tick" name="kindOfAnnouncement" data-style="btn-white">
                                        <% kindOfAnnouncement.forEach(function (item) {%>
                                            <option value="<%=item.id%>"><%= item.name%></option>
                                        <%})%>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        Priority
                                    </label>
                                    <select class="selectpicker show-tick" name="priorityNotify" data-style="btn-white">
                                        <% priority.forEach(function (item) {%>
                                            <option value="<%=item.id%>"><%= item.name%></option>
                                        <%})%>
                                    </select>
                                </div>
                                <div class="form-group" style="margin-top: 25px">
                                    <label class="control-label">Ảnh minh họa</label>
                                    <input type="file" name="images" class="filestyle" multiple accept="image/*" data-placeholder="No file">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 m-b-0 p-0">
                            <div class="form-group">
                                <label for="content">Content*</label>
                                <textarea name="content" parsley-trigger="change" required placeholder="Enter content" class="form-control" id="content"></textarea>
                            </div>
                        </div>
                        <div class="form-group text-right m-b-0">
                            <button class="btn btn-primary waves-effect waves-light" type="submit">
                                Submit
                            </button>
                            <button type="reset" class="btn btn-default waves-effect waves-light m-l-5">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- container -->

    </div> <!-- content -->
    <footer class="footer text-right">
        © 2017. All rights reserved.
    </footer>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('form').parsley();
    });
</script>


<script src="/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
<script src="/assets/plugins/switchery/js/switchery.min.js"></script>
<script type="text/javascript" src="/assets/plugins/multiselect/js/jquery.multi-select.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery-quicksearch/jquery.quicksearch.js"></script>
<script src="/assets/plugins/select2/js/select2.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>

<script type="text/javascript" src="/assets/plugins/autocomplete/jquery.mockjax.js"></script>
<script type="text/javascript" src="/assets/plugins/autocomplete/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="/assets/plugins/autocomplete/countries.js"></script>
<script type="text/javascript" src="/assets/pages/autocomplete.js"></script>

<script type="text/javascript" src="/assets/pages/jquery.form-advanced.init.js"></script>
<!-- Include JS file. -->
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.5/js/froala_editor.pkgd.min.js'></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('textarea#content').froalaEditor({
            // Set the image upload parameter.
            imageUploadParam: 'image',
            // Set the image upload URL.
            imageUploadURL: '/upload/image',
            // Additional upload params.
            imageUploadParams: {id: 'my_editor'},
            // Set request type.
            imageUploadMethod: 'POST',
            // Set max image size to 5MB.
            imageMaxSize: 5 * 1024 * 1024,
            // Allow to upload PNG and JPG.
            imageAllowedTypes: ['jpeg', 'jpg', 'png'],
            //====================================================
            // Set the file upload parameter.
            fileUploadParam: 'file',
            // Set the file upload URL.
            fileUploadURL: '/upload/file',
            // Additional upload params.
            fileUploadParams: {id: 'my_editor'},
            // Set request type.
            fileUploadMethod: 'POST',
            // Set max file size to 20MB.
            fileMaxSize: 20 * 1024 * 1024,
            // Allow to upload any file.
            fileAllowedTypes: ['*'],
            //===================================================
            // Set the video upload parameter.
            videoUploadParam: 'file',
            // Set the video upload URL.
            videoUploadURL: '/upload/file',
            // Additional upload params.
            videoUploadParams: {id: 'my_editor'},
            // Set request type.
            videoUploadMethod: 'POST',
            // Set max video size to 50MB.
            videoMaxSize: 50 * 1024 * 1024,
            // Allow to upload MP4, WEBM and OGG
            videoAllowedTypes: ['webm', 'jpg', 'ogg', 'mp4']
        })
    });
</script>




