<!DOCTYPE html>
<html>
<head>
    <%- partial('./partials/header')%>
</head>
<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">
        <%- partial('./partials/navbar')%>
        <%- partial('./partials/leftbar')%>

        <%- body -%>
    </div>
    <%- partial('./partials/script')%>

</body>
</html>
